.login-grid{
  width:50%;
  left: 25%;
  position: relative;
  padding-top:55px;
}

.login-grid h1{
  text-align:center;
}

.login-grid > * {
  display:block;
}

.login-grid > label{
  margin-bottom: 5px;
}

.login-grid > input[type="email"], .login-grid > input[type="password"]{
  border: 1px solid #fff;
  background-color: #fff;
  color: #000;
  max-width: 100%;
  line-height: 1.2;
  border-radius: 2px;
  padding: 10px 18px;
  width: 100%;
  margin-bottom: 19.44444px;
}

.login-btn-con{
  text-align:center;
}

.sign-in-button{
  cursor: pointer;
  margin-bottom: 19.44444px;
  width: auto;
  padding: 10px 18px;
}

.register-link{
  color: #000;
  margin: 0 0 19.44444px;
  display:block;
  text-decoration: none;
}

/*lower padding in smaller screen size.*/