.cart-image {
  width: 130px;
}

.cart-image a{
  padding-right: 35px;
  display: block;
}

.cart-image img{
  max-height: 95px;
  max-width: 100%;
}

.cart-description{
  padding: 22px 15px 22px 0;  
}

.cart-description > div:nth-child(1){
  color: #000;
  font-size: 1.125em;
  min-width: 100px;
  padding-bottom:15px;
}

.cart-description > p{
  margin: 0;
  cursor: pointer;
}

.cart-qty >div {
  text-align: center;
}

.cart-qty >div > input{
  text-align: center;
  width: 60px;
}

.cart-total{
  text-align: right;
}

@media only screen and (min-width: 750px){
  .cart-image {
    width:130px;
  }
  .cart-image a {
    padding-right: 35px;
  }
  .cart-description {
    max-width: 300px;
  }
  .cart-qty > div> input{
    padding: 10px 5px;
  }
}